---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import FallingPetals from '../components/FallingPetals.astro';
import Details from '../components/Details.astro';
import Gallery from '../components/Gallery.astro';
import Header from '../components/Header.astro';
import Timeline from '../components/Timeline.astro';
import RSVP from '../components/RSVP.astro';
import Footer from '../components/Footer.astro';
import Ceremony from '../components/Ceremony.astro';





import { fetchIndexData } from '../lib/services/index.ts';

export const prerender = false;

const id = Astro.url.searchParams.get("id");
const indexData = id ? await fetchIndexData(id) : null;


indexData?.detalle_evento?.[0]?.nombre_pareja1
indexData?.fecha_evento

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>

	<FallingPetals />
  <div class="relative flex min-h-screen w-full flex-col overflow-x-hidden">
    <Header nombreNovia={indexData?.detalle_evento?.[0]?.nombre_pareja1} nombreNovio={indexData?.detalle_evento?.[0]?.nombre_pareja2} />
    <main class="flex-grow">
      <Hero nombreNovia={indexData?.detalle_evento?.[0]?.nombre_pareja1} nombreNovio={indexData?.detalle_evento?.[0]?.nombre_pareja2}  fecha={indexData?.fecha_evento} lugar={indexData?.detalle_evento?.[0]?.lugar} />
      <Gallery />
      <Timeline />
      <Ceremony fecha={indexData?.fecha_evento} lugar={indexData?.detalle_evento?.[0]?.lugar}  />
      <Details fecha={indexData?.fecha_evento} lugar={indexData?.detalle_evento?.[0]?.lugar} />
      <RSVP />
    </main>
    <Footer nombreNovia={indexData?.detalle_evento?.[0]?.nombre_pareja1} nombreNovio={indexData?.detalle_evento?.[0]?.nombre_pareja2} />
  </div>

</Layout>
